@page "/BillEdit"
@inherits EditComponent
@using SVR.Data.Entitites;
<EditForm Model="EditModel" OnValidSubmit="@HandleValidSubmit" id="Form-Bill">
    <div class="container ">
        <div class="form">
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"> 
                              
                            <SfDropDownList TValue="int" TItem="Customer" Placeholder="Select a Customer" DataSource="@relatedDto.customers"
                                            @bind-Value="@EditModel.BilledCustomer.ID" AllowFiltering="true" OnChange="@CustomerChanged">
                                <DropDownListEvents TItem="Customer" TValue="int" OnValueSelect="@OnValueSelecthandler"></DropDownListEvents>
                                @*ValueChange="@ValueChangeHandler"*@

                                <DropDownListTemplates TItem="Customer">
                                    <HeaderTemplate>
                                        <span class='head'><span>Customer Name</span><span>GRNO</span></span>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="ctx">
                                        <span><span class='name'>@(ctx.Name)</span><span class='country'>@(ctx.GRNO)</span></span>
                                    </ItemTemplate>
                                    <FooterTemplate>
                                        <span class='footer'>Total list Item:  @(Customers.Count()) </span>
                                    </FooterTemplate>
                                    <NoRecordsTemplate>
                                        <span class='norecord'> NO DATA AVAILABLE</span>
                                    </NoRecordsTemplate>
                                </DropDownListTemplates>
                                <DropDownListFieldSettings Value="ID" Text="Name"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            @EditModel.BilledCustomer.Name
                            @EditModel.BilledCustomer.Address.AddressLine1
                            @EditModel.BilledCustomer.Address.AddressLine2
                            State : @EditModel.BilledCustomer.Address.State.Name
                            State : @EditModel.BilledCustomer.Address.State.Code
                            GR NO:@EditModel.BilledCustomer.GRNO
                            PAN No :@EditModel.BilledCustomer.PANNO

                            @*<Syncfusion.Blazor.Inputs.SfTextBox Value="@EditModel.BilledCustomer.GRNO"></Syncfusion.Blazor.Inputs.SfTextBox>
                            <Syncfusion.Blazor.Inputs.SfTextBox Value="@EditModel.BilledCustomer.PANNO"></Syncfusion.Blazor.Inputs.SfTextBox>*@
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" width="25%">Description Of Goods</th>
                                        <th scope="col">HSN Code</th>
                                        <th scope="col">Quantity    <b>(Kgs)</b> </th>
                                        <th scope="col">Rate     <b> (₹)</b></th>
                                        <th scope="col">Total </th>
                                        <th scope="col">
                                            <button type="button" class="btn btn-primary  form-control" @onclick="AddBillItem">Add</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var billitem in EditModel.billItems)
                                    {
                                        <tr>
                                            <td width="25%"> <input type="text" class="form-control" @bind-value=billitem.Name /></td>
                                            <td> <input type="text" class="form-control" @bind-value=billitem.HSNCode /></td>
                                            <td> <input type="text" class="form-control" @bind-value=billitem.Quantity /></td>
                                            <td> <input type="text" class="form-control" @bind-value=billitem.Price /></td>
                                            <td>@billitem.Amount</td>
                                            <td> <button type="button" class="form-control btnSubmit" @onclick="@(() => RemoveBillItem(billitem))">Remove</button></td>
                                        </tr>
                                    }

                                </tbody>


                            </table>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td scope="col" rowspan="5" width="50%"><b>Rupees in words (₹): </b> <p>@Common.Gerenal.ConvertNumbertoWords(@EditModel.GrandTotal)</p></td>
                                        <td scope="col">Net Value </td>
                                        <td scope="col"> @EditModel.NetValue </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">CGST ( @EditModel.CGST %)</td>
                                        <td scope="col"> @(EditModel.NetValue * EditModel.CGST) </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">SGST ( @EditModel.SGST % )</td>
                                        <td scope="col">@(EditModel.NetValue * EditModel.SGST) </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Total </td>
                                        <td scope="col"> @EditModel.Total </td>
                                    </tr>
                                    @*<tr>
                            <td scope="col">Net Value </td>
                            <td scope="col"> @EditModel.NetValue </td>
                        </tr>*@
                                    <tr>
                                        <td scope="col">Grand Total </td>
                                        <td scope="col"> @EditModel.GrandTotal </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        @*<div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <span>Net Value :</span>
                        <label > @EditModel.NetValue</label>
                    </div>
                    <div class="row">
                        <span>SGST :</span>
                        <label > @(EditModel.NetValue * EditModel.SGST)</label>
                    </div>
                    <div class="row">
                        <span>CGST :</span>
                        <label > @(EditModel.NetValue * EditModel.CGST)</label>
                    </div>
                    <div class="row">
                        <span>Total :</span>
                        <label > @EditModel.Total</label>
                    </div>
                </div>
            </div>*@
                    </div>
                    @*<div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Password *" value="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Confirm Password *" value="" />
            </div>
        </div>*@
                </div>
                <button type="submit" class="btnSubmit" form="Form-Bill">Submit</button>
            </div>
        </div>


    </div>
</EditForm>

@code {


}
